<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://www.yfrs.gov.cn/download/YfRs_1.13.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://www.yfrs.gov.cn/download/yfrs_logo_48.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.gddlkj.projects.299yfrs</string>
               <key>bundle-version</key>
               <string>1.13</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>云浮人社移动服务平台</string>
               <key>title</key>
               <string>云浮人社移动服务平台1.13</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
